body
{
   background-color: #aaaaaa;
   font-family: "Courier New", "Times New Roman", Times, serif;
}

a:link, a:visited, a:hover
{
   color: #ff0000;
   text-decoration:none;
}

.banner
{
   /* float:right */
    background-color: #333333;
    color: #ffffff;
}

.banner_1
{
   font-size: 45px;
   height: 50px;
}

.banner_2
{
   height: 30px;
}

.footer
{
    border-top: 1px solid #ffffff;
    height: 40px;
}

.outer
{
    margin-left: 100px; 
   margin-right: 100px;
}


.left_bar
{
   float: left;
   width: 80px;
}


.left_red
{
   float: left;
   width: 80px;
   height: 80px;
   /* background-color: #ff0000; */
}

.main
{
   color: #000000;
  /* height: 500px;  */
} 

.left_gray
{
   margin-top: 20px;
   float: left;
   width: 80px;
   height: 80%;
   background-color: #333333;

}

.work_pic_outer
{
    margin-top: 5%;

    color: #000000;

}

.work_pic
{
   font-size:0px;
   height: 80%;
}

.work_pic:hover
{
    font-size: 12px;
}

.menu
{
}

.menu_entry_selected
{
   border-top: 1px dashed #ffffff;
   border-left: 1px dashed #ffffff;
   border-right: 1px dashed #ffffff;
   float: left;
   width: 150px;
   color: #ffffff;
   text-align: center;
}

.menu_entry 
{
   border: 1px dashed #ffffff;
   float: left;
   width: 150px;
   color: #ffffff;
   background-color: #333333;
   text-align: center;
}

.menu_guard
{
   float: left;
   width: 10px;
   color: #ffffff;
   background-color: #333333;
   text-align: center;
}

.menu_entry:hover
{
   background-color: #555555;
}





/* this part taken from: http://spyrestudios.com/coding-a-minimalist-contact-form-with-captcha-spam-protection/ */

form { display: block; padding-bottom: 65px; }
form label {  display: block; margin-bottom: 2px; }

form .err {  background: #9d5050; border-radius: 4px; display: none; position: relative; left: 330px; top: 25px; padding: 4px 7px; }
form .capter { left: 280px !important; }
form .txarea { left: 340px !important; }
form .topp { left: 350px; }

form #captchaimg { display: block; border: 1px solid #a1a1a1; margin-bottom: 7px; }

form .sendbtn { display: block;  padding: 3px 6px; }

form .textinput { display: block; outline: none; width: 360px; border: 1px solid #ddd; padding: 7px 11px; margin-bottom: 15px; font-size: 1.0em; }
form .textcaptcha { display: block; outline: none; width: 360px; border: 1px solid #ddd; padding: 7px 11px; margin-bottom: 20px; font-size: 1.0em;  }
form .textinput:focus, form .textcaptcha:focus {  border-color: #c6c6c6; }

form .msgtextarea { display: block; outline: none; font-size: 1.0em; padding: 3px 11px; width: 360px; height: 100px; border: 1px solid #ddd;  margin-bottom: 10px; }
form .msgtextarea:focus { color: #565656; border-color: #c6c6c6; }

/*

form a.btn {
background-color: #eee;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #ccc));
background-image: -webkit-linear-gradient(top, #eee, #ccc);
background-image: -moz-linear-gradient(top, #eee, #ccc);
background-image: -ms-linear-gradient(top, #eee, #ccc);
background-image: -o-linear-gradient(top, #eee, #ccc);
background-image: linear-gradient(top, #eee, #ccc);
border: 1px solid #ccc;
border-bottom: 1px solid #bbb;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: #333;
font-size: 1.0em;
font-weight: bold;
text-decoration: none;
padding: 12px 22px;
text-align: center;
text-shadow: 0 1px 0 #eee;
}

form a.btn:hover { 
background-color: #ddd;
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #bbb));
background-image: -webkit-linear-gradient(top, #ddd, #bbb);
background-image: -moz-linear-gradient(top, #ddd, #bbb);
background-image: -ms-linear-gradient(top, #ddd, #bbb);
background-image: -o-linear-gradient(top, #ddd, #bbb);
background-image: linear-gradient(top, #ddd, #bbb);
border: 1px solid #bbb;
border-bottom: 1px solid #999;
cursor: pointer;
text-shadow: 0 1px 0 #ddd;
}
form a.btn:active {
border: 1px solid #aaa;
border-bottom: 1px solid #888;
-webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
-moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}

*/
